body {
  font-display: swap;
  font-family: bookmania, serif;
  font-style: normal;
  font-weight: 400;

  a {
    color: #901;
    text-decoration: none;
    &:hover {
      color: #de0019
    }
  }

}


@keyframes slideInTop {
  0% {
    transform: translateY(-200%);
    opacity: 0
  }


  100% {
    transform: translateY(0);
    opacity:1
  }
}

h1 {
  font-family: bdr-mono, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.15vw;
  animation: 1s ease-out 0s 1 slideInTop;
  letter-spacing: -3px;
  font-display: swap;
}


@media screen and (min-width: 1300px) {
  h1 {
    font-size: 4.18em;
    animation: 2s ease-out 0s 1 slideInTop;
    letter-spacing: -4px;
    transition: 1s;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 8.55vw;
    animation: 2s ease-out 0s 1 slideInTop;
    letter-spacing: -2px;
    transition: 1s;
  }
}

h2 {
  font-family: bdr-mono, sans-serif;
  font-size:6.5vw;
  text-transform: uppercase;

  @media screen and (min-width: 600px) {
    font-size:4.5vw;
  }

  @media screen and (min-width: 992px) {
    font-size:4vw;
  }

  @media screen and (min-width: 1300px) {
    font-size:3em;
  }
}

.ap-mack #hero {
  display:flex;
  justify-content:end;
  flex-direction:column;
  height:80vh;
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.0)75%, rgba(0, 0, 0, 1.8)), url('/img/polly-apfelbaum/hero-install.jpg') center center / cover no-repeat #000;
}

#hero {
  .show-title {
    align-self: start;
    padding:0 2rem;
    font-size:1.6rem;
    color: $white;
    text-shadow: 1px 1px 1px $black;
    line-height:2rem;
  }

  .show-date {
    align-self: start;
    padding:0 2rem 1rem;
    font-size:1.3rem;
    color: $white;
    text-shadow: 1px 1px 1px $black;
  }

}

.home > canvas {
  display:none;
}

.btn-outline-primary {
  padding:16px 20px 11px!important;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.galaxy {
  position:absolute;
  width:15px;
  top:165px;
  right:10%;
  z-index:201;
  @media (max-width:992px){
    top:75px;
    width:15px;
  }

}

.saturn {
  position:absolute;
  width:20px;
  top:125px;
  right:5%;
  z-index:201;
  @media (max-width:992px){
    top:55px;
    width:15px;
  }

  @media (min-width:1900px){
    width:50px;
  }
}

.jupiter {
  position:absolute;
  width:20px;
  top:325px;
  left:20%;
  z-index:201;
}

.house {
  background: url("../img/house-2100.jpg")no-repeat center #ebe3e0;
  background-size: auto;
  background-size: 1135px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-top:60px;*/

  @media (max-width:992px){
    background-size: 830px;
  }

  + canvas {
    display: none;
  }

  h1 {
    color:$black;
    text-shadow: 1px 2px 3px #fff;

  }
} /* end house */


.credits {
  svg:hover {
  fill:$spacered;
}

  p {
    margin-bottom:.5rem;
  }

  .col-lg-8 li {
    padding-bottom:14px;
  }

  .row {
    margin:3rem 0;

    .col-sm-4 svg{

    }

    @media (max-width:575px){
      margin:0;

      .col-sm-4 {
        margin:1rem 0;
      }
    }

  }


}




#insta-contact svg  {
  fill:$gray-400;
  &:hover {
    fill: $spacered;
    transition: .7s ease-in;

  }
}

.credits ul.artists-credits {
    margin: 0 auto;
    text-align: left;
    padding-left:0;
    li {
        display: inline-block;
        vertical-align: top;
        margin:20px 20px;


    }

}
