body {
  font-display: swap;
  font-family: bookmania, serif;
  font-style: normal;
  font-weight: 400;

  a {
    color: #901;
    text-decoration: none;
    &:hover {
      color: #de0019
    }
  }

}


.show-graphic-banner {

  aspect-ratio: 32 / 9;
    width: 100%;
    object-fit: cover;
}

.show-graphic-mobile {
  aspect-ratio: 7 / 6;
    width: 100%;
    object-fit: cover;
}



@keyframes slideInTop {
  0% {
    transform: translateY(-200%);
    opacity: 0
  }


  100% {
    transform: translateY(0);
    opacity:1
  }
}

h1 {

animation: 1s ease-out 0s 1 slideInTop;
font-weight:400;

}

.space-headline {
  letter-spacing: -2px;
  font-family: bdr-mono, sans-serif;
  text-transform: uppercase;
}



/*@media screen and (min-width: 1300px) {
  h1 {
    font-size: 4.18em;
    animation: 2s ease-out 0s 1 slideInTop;
    letter-spacing: -4px;
    transition: 1s;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 8.55vw;
    animation: 2s ease-out 0s 1 slideInTop;
    letter-spacing: -2px;
    transition: 1s;
  }
}*/

/*h2 {
  font-family: bdr-mono, sans-serif;
  font-size:6.5vw;
  text-transform: uppercase;

  @media screen and (min-width: 600px) {
    font-size:4.5vw;
  }

  @media screen and (min-width: 992px) {
    font-size:4vw;
  }

  @media screen and (min-width: 1300px) {
    font-size:3em;
  }
}*/


.cook-kettner #hero {
  display:flex;
  justify-content:end;
  flex-direction:column;
  height:80vh;
  background:url('/img/cook-kettner/final/installations/OuterSpace-46.jpg') center center / cover no-repeat #000;
}

.ap-mack #hero {
  display:flex;
  justify-content:end;
  flex-direction:column;
  height:80vh;
  background:url('/img/polly-apfelbaum/hero-install.jpg') center center / cover no-repeat #000;
}

.brein-riley #hero {
  display:flex;
  justify-content:end;
  flex-direction:column;
  height:80vh;
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.0)75%, rgba(0, 0, 0, 1.8)), url('/img/riley-breininger/installations/_MMP7244-Edit.jpg') center center / cover no-repeat #000;
}

@media (max-width:1024px){
  .brein-riley #hero, .ap-mack #hero, .cook-kettner #hero {
    height:60vh;
  }
}

@media (max-width:768px){
  .brein-riley #hero, .ap-mack #hero, .cook-kettner #hero {
    height:40vh;
  }
}

#hero {
  background: $black;

  .show-title {
    align-self: start;
    padding:0 2rem;
    font-size:1.6rem;
    color: $white;
    text-shadow: 1px 1px 1px $black;
    line-height:2rem;
  }

  .show-date {
    align-self: start;
    padding:0 2rem 1rem;
    font-size:1.3rem;
    color: $white;
    text-shadow: 1px 1px 1px $black;
  }

}

.home > canvas {
  display:none;
}

.btn-outline-primary {
  padding:16px 20px 11px!important;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}


.house {
  background: url("../img/house-2100.jpg")no-repeat center #ebe3e0;
  background-size: auto;
  background-size: 1135px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-top:60px;*/

  @media (max-width:992px){
    background-size: 830px;
  }

  + canvas {
    display: none;
  }

  h1 {
    color:$black;
    text-shadow: 1px 2px 3px #fff;

  }
} /* end house */


.credits {
  svg:hover {
  fill:$spacered;
}

  p {
    margin-bottom:.5rem;
  }

  .col-lg-8 li {
    padding-bottom:14px;
  }




  .row {

    &:nth-child(3) {
      margin-bottom:3rem;
    }

    &:nth-child(5) {
      margin-bottom:3rem;
    }

    .col-sm-4 svg{

    }

    @media (max-width:575px){
      margin:0;

      .col-sm-4 {
        margin:1rem 0;
      }
    }

  }


  .col-sm-4 a{
    display:block;
    margin:.6rem 0;

  }


}/* end credits */




#insta-contact svg  {
  fill:$black;
  &:hover {
    fill: $spacered;
    transition: .1s ease-in;

  }
}




.credits ul.artists-credits {
    margin: 0 auto;
    text-align: left;
    padding-left:0;
    li {
        display: inline-block;
        vertical-align: top;
        margin:20px 20px;


    }

}
