html {
  scroll-padding-top: 110px;
    @media (max-width:577px){
        scroll-padding-top: 250px;
    }

}


#current-exhibition {
  margin-top:5rem;
}

.painting-desc {
  display:none;
}


.artists-2025 {

  z-index:100;

  .btn {
    &:hover {
       background-color:$spaceredlight;
   }
  }

section:first-child {
  margin-top:4rem;
  margin-bottom:5rem;
  @media (max-width:768px){
      margin-top:2rem;
      margin-bottom:0
  }
}

section:nth-child(2) {
  margin-top:2rem;
  margin-bottom:10rem;
}


section:nth-child(3) {
  margin-top:10rem;
  margin-bottom:4rem;
}

section:nth-child(4) {
  margin-top:10rem;
  margin-bottom:4rem;
}




 h2 {
     font-family: bdr-mono, sans-serif;
     text-transform: uppercase;
 }

  a {
    color:$black;
  }

  a:hover {
    color:$spaceredlight;
  }

  a.active {
    /*border-top:1px solid #b2b2b2;
    border-bottom:1px solid #b2b2b2;
    border-right:6px solid $white;*/
    color:$spacered!important;
  }

  @media (max-width:992px){
    .nav {
      flex-direction: row!important;
    }

    a.active {
      /*border:1px solid #d1d1d3;
      border-bottom:6px solid $white;*/
      /*margin-bottom: -2px;*/
    }

  }


  @media (max-width: 768px) {
  .nav-item {
    padding:0;
  }
}

.tab-content {
  min-height: none;
  padding:0;
  a {
    color:$spacered;
  }

  a:hover {
    color:$spaceredlight;
  }

  @media (max-width:992px){

  }


}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 2.7rem;
    width: 3.4rem;
}


}/* end artists */

.col-lg-9 > .tab-content {
  /*border-left:1px solid #b2b2b2;*/
  @media (max-width:992px){
    border-top:1px solid #d2d2d2;
    border-left:0;
  }
}



.tab-pane span {
  margin-left: 25px;
}


  @media (max-width:768px){
    .nav-link {
      padding:0;
    }
  }



@media(max-width:768px){
 #show-nav .nav-item {
    padding: .55rem;
  }
}


hr {
  opacity:1;
}

.nav-pills .nav-link{
 background:none;
}


.btn-primary {
  padding: .55rem .65rem!important;
  background:$spacered!important;
  border-radius: 5px!important;
}

.title-work {
  font-size:.75em;
  margin-top:8px;
}


object {
  width:100%;
  height:600px;
  @media (max-width:992px){

  }
}


.works-ce div {

  &:last-child {
    margin-right:0;
  }


  img {
    max-height:185px
  }

  img:hover {
    scale:105%;
    transition: .3s ease-in;
  }
}


.works-artist div {
  margin-right:2rem;
  margin-bottom:1rem;
  flex-grow: 1;

  &:last-child {
    margin-right:0;
  }

  img {max-height:185px}
}


.works-artist-ce div {
  margin-right:2rem;
  margin-bottom:1rem;
  flex-grow: 1;

  @media (max-width: 500px){
    margin-right:1.2rem;
  }

  &:last-child {
    margin-right:0;
  }

  img {max-height:135px}

}

.installs-artist-ce div {
  margin-right:2rem;
  margin-bottom:1rem;
  flex-grow: 1;
  &:last-child {
    margin-right:0;
  }
  img  {
    max-height:135px;
  }
}

.installs-artist div {
  margin-right:2rem;
  margin-bottom:1rem;
  flex-grow: 1;
  &:last-child {
    margin-right:0;
  }
  img  {
    min-width:200px;
  }
}


.active-menu {
  border-bottom:1px solid #bbb;
}
