.artists {
  margin-right:-1.65rem!important;
  font-family: bdr-mono, sans-serif;
  z-index:100;
  text-transform: uppercase;

  a {
    text-decoration: none!important;
  }

  a:hover {
    color:$spaceredlight;
  }

  a.active {
    border-top:1px solid #b2b2b2;
    border-bottom:1px solid #b2b2b2;
    border-right:6px solid $white;

  }

  @media (max-width:992px){
    margin-bottom:0!important;
    margin-top: 2rem!important;


    .nav {
      flex-direction: row!important;
    }

    a.active {
      border:1px solid #d1d1d3;
      border-bottom:6px solid $white;
      margin-bottom: -2px;

    }

  }

  @media (max-width:992px){
    a {
      width:160px;
      font-size:1rem;
      text-align: center;
      display: flex;
      justify-content: center;

      align-items: center;
    }
  }

  @media (max-width: 500px){
    a {
      width:150px;
    }
  }

}/* end artists */

.col-lg-9 > .tab-content {
  border-left:1px solid #b2b2b2;
  @media (max-width:992px){
    border-top:1px solid #b2b2b2;
    border-left:0;
  }
}

.panel {
  margin:3rem 0;
}


.tab-content {
  padding:30px 30px 0;
  min-height:300px;
  @media (max-width:992px){
    padding:20px 10px 10px;
  }

  .tab-content {
    padding:20px 0;
    @media (max-width: 992px){
      padding:0;
    }
  }

  button {
    padding: 12px 16px 10px;
  }
}


hr {
  opacity:1;
}

.upcoming p {

}

@media (max-width:992px) {
  .nav-pills {
   padding:14px 0;
 }
}

@media (max-width:768px){
  .nav-pills {
    white-space: nowrap;
  	overflow-x: scroll;
  	webkit-overflow-scrolling: touch;
  	scrollbar-width:none; /* firefox */
  	-ms-overflow-style: none;  /* IE 10+ */
  	padding: 4px 0;
  	text-align: center;
    flex-wrap:nowrap;
  }
}



@media (max-width:550px) {
  #artist-1 .nav, #artist-2 .nav {
    width:100%;
    flex-wrap:nowrap;
    --bs-nav-link-padding-x: .7rem!important;
  }

}


.title-work {
  font-size:.75em;
  margin-top:8px;
}

.installations .carousel-control-prev, .installations .carousel-control-next {
  color:#ccc;
  opacity: 1;
  top: 95%;
  width:auto;

  svg {
    fill:#000;
  }

}

object {
  width:100%;
  height:600px;
  @media (max-width:992px){
    
  }
}
