.exhibitions-montages {

   p {
     color:#000;
   }

  .artist-headline {
    font-size:1.63rem;
    color:#661004;
  }

  a {
      text-decoration:none;
  }

  .buy-button {

    text-align:center;
    border:none;
    border-radius:1.5rem;
    min-width:11.625rem;
    padding:.5rem 2rem .25rem;
    font-weight:bold;
    background-color:#254cb8;
    color:#fff;
    font-size:.95rem;
    line-height:1.5rem;
    cursor:pointer;

    &:hover {
      filter: brightness(1.2);
    }

    @media(max-width:1199px){
        min-width:9.625rem;
    }
  }

  section {
      background:url('/img/logo-black.svg') top 20px right 20px / 120px no-repeat;
      padding:5rem 0;
      @media(max-width: 1024px){
        background-size:50px;
        background-position: top 10px right 12px;
      }

      @media(max-width: 575px){
        padding:3rem 0 1rem 0;
      }

.container .row {

    margin-top:2.5rem;

}

    .logo {
      max-width:120px;
        @media(max-width: 575px){
          max-width: 50px;
        }
    }
  }

  @media(max-width: 500px){
    font-size: .9rem;
  }

.cover {
  display:flex;
  flex-direction:column;
  height:100vh;
  align-items: flex-end;

  .headline-container {

    width:30%;

    @media (max-width:992px){
        width:40%;
    }

    @media(max-width:600px){
        width:50%;

    }
  }

}/* end cover */



  .one {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_2500/v1785342934/outer-space-arts/montages/installations/Front_room_4_xhgwsv.webp') center center / cover no-repeat #000;

    @media (max-width:992px){
    background-position: 20% 0;
    }

  } /* end one */

  .two {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_2500/v1785342944/outer-space-arts/montages/installations/Front_room_6_x9coar.webp') center center / cover no-repeat #000;

    @media (max-width:768px){
        background-position:80%;
    }
  }

  .three {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_2500/v1785342883/outer-space-arts/montages/installations/back_room_2_f94lrv.webp') center center / cover no-repeat;

    @media (max-width:768px){

    background-position: 22% center;

    }
  }

  .four {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_2500/v1785342939/outer-space-arts/montages/installations/Front_room_5_ltxt78.webp') center center / cover no-repeat;

    @media (max-width:920px){
        background-position-x: 10%;
    }
  }

  .five {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_2500/v1785342925/outer-space-arts/montages/installations/front_room_2_lfaqza.webp') center center / cover no-repeat;

  }

  .six {
   background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_2500/v1785342920/outer-space-arts/montages/installations/Front_room_1_xcbn4j.webp') top center / cover no-repeat;

   @media (max-width:920px){
       background-position-x: 20%;
   }
  }


  .seven {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_2500/v1785342915/outer-space-arts/montages/installations/Back_room_6_e7dsud.webp') center center / cover no-repeat;
    @media (max-width:992px){
        background-image: url(' https://res.cloudinary.com/jryandoherty/image/upload/v1788121427/outer-space-arts/montages/installations/_MMP9164-Edit_zi2dkr.jpg');
    }


  }

  .eight {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_2500/v1785342911/outer-space-arts/montages/installations/back_room_5_cy1flw.webp') top center / cover no-repeat;

    @media (max-width:992px){
        background-image: url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,h_1200/v1785878614/outer-space-arts/montages/installations/_MMP9243-Edit_grqjk0.webp');
    }
  }

  .nine {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_2500/v1785342889/outer-space-arts/montages/installations/back_room_3_pe7olp.webp') 20% center / cover no-repeat;


  }

  .ten {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_2500/v1785342878/outer-space-arts/montages/installations/Back_room_1_r0anrd.webp') center center / cover no-repeat;
    @media (max-width:920px){
        background-position-x: 5%;
    }


  }

  .eleven {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_2500/v1785344643/outer-space-arts/montages/installations/_MMP9110-HDR-Edit_h1uk1j.webp') center center / cover no-repeat;
  }

  .twelve {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/t_1920fit/v1760546484/outer-space-arts/layton-braden/installs/_MMP6084-Edit_bxcwmx.jpg') center center / cover no-repeat;
  }



footer {
  .row {
    margin:0;
  }
}

  .ex-description p {
    text-align:justify;
  }

}
