.artists {
  margin-right:-1.65rem!important;
  font-family: bdr-mono, sans-serif;
  z-index:100;
  text-transform: uppercase;

  a {
    color:$black;
  }

  a:hover {
    color:$spaceredlight;
  }

  a.active {
    /*border-top:1px solid #b2b2b2;
    border-bottom:1px solid #b2b2b2;
    border-right:6px solid $white;*/
    color:$spacered;
    font-weight:700;
  }

  @media (max-width:992px){
    margin-bottom:0!important;

    .nav {
      flex-direction: row!important;
    }

    a.active {
      /*border:1px solid #d1d1d3;
      border-bottom:6px solid $white;*/
      /*margin-bottom: -2px;*/
    }

  }

  @media (max-width:992px){
    a {
      font-size:1rem;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      background:$white;
    }

    a.active {
      margin-bottom:-1px!important;
      border-top:1px solid #d2d2d2;
      border-right:1px solid #d2d2d2;
      border-left:1px solid #d2d2d2;
    }
  }

  @media (max-width:992px){
    a {
      width:150px;
      text-align:center;
    }
  }


}/* end artists */

.col-lg-9 > .tab-content {
  /*border-left:1px solid #b2b2b2;*/
  @media (max-width:992px){
    border-top:1px solid #d2d2d2;
    border-left:0;
  }
}

.panel {
  margin:3rem 0;
}


.tab-pane span {
  margin-left: 25px;
}


.tab-content {
  padding:30px 30px 0;
  min-height:300px;
  @media (max-width:992px){
    padding:20px 10px 10px;
  }

  .tab-content {
    padding:20px 0;
    @media (max-width: 992px){
      padding:0;
    }
  }

  button {
    padding: 0 16px 0 0;
  }
}

@media(max-width:768px){
  .nav-item {
    padding: .5rem 0 .5rem;
  }
}


.home {

/*.prev-next-container{
  margin-top:0;
}*/


.col-lg-5 .prev-next-container{
  margin-top:-30px;
}



/*.tab-content {
  padding:0 10% 0 1rem;
  @media(max-width: 992px){
    padding:0;
  }

}*/

}




hr {
  opacity:1;
}

.upcoming p {

}


.nav-pills .nav-link{
 
}


/*@media (max-width:768px){
  .nav-pills {
    white-space: nowrap;
  	overflow-x: scroll;
  	webkit-overflow-scrolling: touch;
  	scrollbar-width:none;
  	-ms-overflow-style: none;
  	padding: 4px 0;
  	text-align: center;
    flex-wrap:nowrap;
  }
}



@media (max-width:550px) {
  #artist-1 .nav, #artist-2 .nav {
    width:100%;
    flex-wrap:nowrap;
    --bs-nav-link-padding-x: .7rem!important;
  }

}*/


.title-work {
  font-size:.75em;
  margin-top:8px;
}



.fslightbox-svg-path {
  fill:$black!important;
}

.fslightbox-slide-number-container {
  display:none!important;
}

div[title="Enter fullscreen"] {
  display: none;
}

@media (max-width:600px){

.fslightbox-slide-btn-container {
  display:none!important;
}

}



.installations .carousel-control-prev, .installations .carousel-control-next {
  color:#ccc;
  opacity: 1;
  top: 95%;
  width:auto;

  svg {
    fill:#000;
  }

}

object {
  width:100%;
  height:600px;
  @media (max-width:992px){

  }
}
