.exhibitions-mink {

   p {
     color:#000;
   }

  .artist-headline {
    font-size:1.63rem;
    color:#661004;
  }

  a {
      text-decoration:none;
  }

  .buy-button {

    text-align:center;
    border:none;
    border-radius:1.5rem;
    min-width:11.625rem;
    padding:.5rem 2rem .25rem;
    font-weight:bold;
    background-color:#254cb8;
    color:#fff;
    font-size:.95rem;
    line-height:1.5rem;
    cursor:pointer;

    &:hover {
      filter: brightness(1.2);
    }

    @media(max-width:1199px){
        min-width:9.625rem;
    }
  }

  section {
      background:url('/img/logo-black.svg') top 20px right 20px / 120px no-repeat;
      padding:5rem 0;
      @media(max-width: 1024px){
        background-size:50px;
        background-position: top 10px right 12px;
      }

      @media(max-width: 575px){
        padding:3rem 0 1rem 0;
      }

.container .row {

    margin-top:2.5rem;

}

    .logo {
      max-width:120px;
        @media(max-width: 575px){
          max-width: 50px;
        }
    }
  }

  @media(max-width: 500px){
    font-size: .9rem;
  }

.cover {
  display:flex;
  flex-direction:column;
  height:100vh;
  align-items: flex-end;
  @media (max-width:768px){
      align-items: flex-start;
  }

  .headline-container {

    width:30%;

    @media (max-width:992px){
        width:50%;


    }

    @media(max-width:600px){
        margin:0;
        width:75%;
    }
  }

}/* end cover */

  .one {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_2100/v1773763428/outer-space-arts/all-kinds/installations/_MMP4555-Edit_cmo8rs.webp') center center / cover no-repeat #000;

    @media (max-width:992px){
    background-position: 20% 0;
    }

    @media(max-width: 600px){

      height:100vh;
    }

  } /* end one */

  .two {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_1920/v1773763438/outer-space-arts/all-kinds/installations/_MMP4579-Edit_tuhwyw.webp') center center / cover no-repeat #000;

    @media (max-width:768px){

    background:url(' https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_768/v1773763722/outer-space-arts/all-kinds/installations/vert/_MMP4791-Edit_ttu28d.webp') center center / cover no-repeat #000;

      height:100vh;
    }
  }

  .three {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_1920/v1773763394/outer-space-arts/all-kinds/installations/_MMP4474-Edit_c3bxtj.webp') center center / cover no-repeat;

    @media (max-width:768px){

    background-position: 75% center;
      height:100vh;
    }
  }

  .four {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_1920/v1773763571/outer-space-arts/all-kinds/installations/_MMP5104-Edit_cbnnaq.webp') center center / cover no-repeat;


  }

  .five {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_1920/v1773763558/outer-space-arts/all-kinds/installations/_MMP5085-Edit_k0lb07.webp') center center / cover no-repeat;

    @media (max-width:992px){
      height:100vh;
      background-image:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_992/v1774462613/outer-space-arts/all-kinds/installations/vert/_MMP5099-Edit-crop_bfa5dg.webp');
    }
  }

  .six {
   background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_1920/v1774109973/outer-space-arts/all-kinds/installations/_MMP4921-Edit_hb039p.webp') top center / cover no-repeat;

  }


  .seven {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_1920/v1773763527/outer-space-arts/all-kinds/installations/_MMP4945-Edit_eiwvuu.webp') center center / cover no-repeat;

    @media (max-width:768px){
        background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_768/v1773763647/outer-space-arts/all-kinds/installations/vert/_MMP4970-Edit_uiretw.webp') center center / cover no-repeat;

      height:100vh;
    }

  }

  .eight {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_1920/v1773763494/outer-space-arts/all-kinds/installations/_MMP4838-Edit_eufnur.webp') top center / cover no-repeat;

    @media (max-width:768px){
      background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_768/v1774462339/outer-space-arts/all-kinds/installations/vert/_MMP4965-Edit_qnn6dj.webp') center center / cover no-repeat;
      height:100vh;
    }
  }

  .nine {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_1920/v1774109887/outer-space-arts/all-kinds/installations/_MMP4718-Edit_sfiwsv.webp') 20% center / cover no-repeat;

    @media (max-width:768px){
        background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_900/v1773763599/outer-space-arts/all-kinds/installations/vert/_MMP5006-Edit_g4nzls.webp') center center / cover no-repeat;
        height:100vh;
    }
  }

  .ten {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_1920/v1773763516/outer-space-arts/all-kinds/installations/_MMP4935-Edit-1_es734j.webp') center center / cover no-repeat;


  }

  .eleven {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_1920/v1773763508/outer-space-arts/all-kinds/installations/_MMP4894-Edit_fqukan.webp') -10% center / cover no-repeat;

    @media (max-width:768px){
        background:url('https://res.cloudinary.com/jryandoherty/image/upload/c_scale,w_800/v1773763714/outer-space-arts/all-kinds/installations/vert/_MMP4787-Edit_bebvoi.webp') center center / cover no-repeat;
        height:100vh;
    }
  }

  .twelve {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/t_1920fit/v1760546484/outer-space-arts/layton-braden/installs/_MMP6084-Edit_bxcwmx.jpg') center center / cover no-repeat;
  }

  .thirteen {
    background:url('https://res.cloudinary.com/jryandoherty/image/upload/t_1920fit/v1760546490/outer-space-arts/layton-braden/installs/_MMP6122-Edit_fox0wx.jpg') center center / cover no-repeat;
    @media (max-width:768px){
     background-position-x: 14%;
      height:100vh;
    }
  }

.fifteen{
  background-image:url('https://res.cloudinary.com/jryandoherty/image/upload/t_1920fit/v1756931340/outer-space-arts/ce/installation/part2/star/_MMP7945-Edit_rezdzz.jpg');
  @media (max-width:768px){
    height:100vh;
    background-image:url('https://res.cloudinary.com/jryandoherty/image/upload/t_1920fit/v1756931424/outer-space-arts/ce/installation/part2/star/_MMP8013-Edit_osbw01.jpg');
  }
}

.sixteen{
  background-image:url('https://res.cloudinary.com/jryandoherty/image/upload/t_1920fit/v1750957896/outer-space-arts/ce/installation/CreativityExplored-37_mbo2dn.jpg');

  @media (max-width:768px){
    height:100vh;
    background-image:url('https://res.cloudinary.com/jryandoherty/image/upload/v1756834490/outer-space-arts/ce/installation/part2/_MMP8088-Edit_kjhacu.jpg');
  }
}


.seventeen{
  background-image:url('https://res.cloudinary.com/jryandoherty/image/upload/t_1920fit/v1749653853/outer-space-arts/ce/installation/CreativityExplored-84_pelspn.jpg');

  @media (max-width:768px){
    height:100vh;
    background-position: 10%;
  }

}


footer {
  .row {
    margin:0;
  }
}

  .ex-description p {
    text-align:justify;
  }

}
